<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, id: :job_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :client %>
    <%= form.text_field :client, id: :job_client, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, id: :job_location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :job_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :paid %>
    <%= form.hidden_field value: false %>
    <%= form.check_box :paid, id: :job_paid, value: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :job_notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: 'btn btn-primary', method: :patch %>
  </div>
<% end %>
