<h1>Current workload</h1>
<div class="card">
  <div class="card-body">
    <strong>Current month profit:</strong> <%= number_to_currency(current_month_profit(@jobs)) %> <small>(Avg: <%= number_to_currency(avg_monthly_profit(@jobs))%>)</small><br>
    <strong>Current year profit:</strong> <%= number_to_currency(ytd_profit(@jobs)) %>
  </div>
</div>
<%= link_to "New job", new_job_path, class: "btn btn-primary btn-sm my-3" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Client</th>
      <th scope="col">Description</th>
      <th scope="col">Location</th>
      <th scope="col">Revenue</th>
      <th scope="col">Expenses</th>
      <th scope="col">Profit</th>
      <th scope="col">Paid</th>
      <th scope="col">Notes</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td class="table--nowrap"><%= job.date.strftime('%a, %b %d, %G') %></td>
      <td><%= link_to job.client, job %></td>
      <td><%= job.description %></td>
      <td><%= job.location %></td>
      <td><%= number_to_currency(job.amount) %></td>
      <td><%= number_to_currency(job.sum_expenses) %></td>
      <td><%= number_to_currency(job.profit) %></td>
      <td><%= job_paid?(job) %></td>
      <td><%= job.notes %></td>
      <td class="table--nowrap"><%= link_to "Edit", edit_job_path(job) %> | <%= link_to "Delete", job, method: :delete, data: {confirm: 'Are you sure you want to delete this job?'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
