<div class="row">
  <div class="col-md-8">
      <h4 class="mb-0"><%= @job.client %>'s event on <%= time_tag @job.date %></h4><small><%= link_to "Edit", edit_job_path(@job) %> | <%= link_to "Delete", @job, method: :delete, data: { confirm: "Are you sure you want to delete this job?" } %></small>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <strong>Description:</strong> <%= @job.description %><br>
    <strong>Revenue:</strong> <%= number_to_currency(@job.amount) %><br>
    <strong>Pmt Status:</strong> <%= job_paid?(@job) %><br>
  </div>
  <div class="col-md-4">
    <strong>Location:</strong> <%= @job.location %><br>
    <strong>Notes:</strong> <%= @job.notes %><br>
  </div>
</div>
<hr>
<h5 class="">Related expenses</h5>
<%= link_to "New expense", new_job_expense_path(@job), class: 'mb-3 mt-0 btn btn-primary btn-sm' %>
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Category</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @job.expenses.each do |e| %>
          <tr>
            <td><%= e.name %></td>
            <td><%= number_to_currency(e.amount) %></td>
            <td><%= e.category %></td>
            <td class="table--nowrap"><%= e.date.strftime('%a, %b %d, %G') %></td>
            <td class="table--nowrap"><%= link_to "Edit", edit_job_expense_path(@job, e) %> | <%= link_to "Delete", [@job, e], method: :delete, data: { confirm: "Are you sure you want to delete this expense?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Back to dashboard", jobs_path %>
  </div>
</div>
